Entwickel ein Kalender Reservierungssytem für eine Grillhütte mit verschiedenen Unterseiten, sie Startseite soll einen groß platzierten Kalender beinhalten in dem belegte Tage rot, ausstehende Reservierungen Orange (auch blockiert) und freie Tage grün angezeigt werden. 
Der Benutzer hat die Möglichkeit seine anstehenden sowie vergangenen Reservierungen zu sehen zu verwalten, die Reservierung können den Status pending, confirmed oder canceled haben, zu jeder Reservierung kann der Benutzer eine kleine Nachricht oder Info an den adim weiter geben und bei der Bestätigung oder auch danach kann der admin eine Info an den Benutzer weitergeben, der Benutzer sieht das dann in seiner Übersicht, außerdem wird der Benutzer immer per Email über Änderungen oder hinzugefügte Infos informiert. Der Benutzer hat dazu noch eine Seite bei dem er seine Daten anpassen kann, eine Veränderung der Email resultiert in einer erneuten Email Verifikation. Es soll noch eine Seite für den Benutzer geben, bei der er sich anmelden und registrieren kann, die Registrierung findet Mithilfe einer Email Verifikation statt, hierfür kann die vorhandene emailSender.php genutzt werden. Es besteht auch schon eine Datenbank Klasse Database.php die genutzt werden soll.
Um eine Reservierung tätigen zu können muss der Benutzer angemeldet und die Email verifiziert sein, erst dann kann eine Datumsspanne auf dem Kalender ausgewählt, alternativ sollen neben dem Kalender Felder sein, bei denen man das start und end Datum Manuel eingeben  kann, auch die Auswahl von nur einem Tag ist möglich. Dazu kann noch eine start und Endzeit ausgewählt werden, standartmäßig ist die Zeit von 12 Uhr mittags am Start Tag bis 12 Uhr mittags am end Tag.

Ein Tag ist grundsätzlich reserviert wenn eine Person eine Reservierung gemacht hat, allerdings kommt es auch auf die Uhrzeit an, wenn ein Benutzer bis 13 Uhr reserviert hat, dann könnte ein anderer ab 13 Uhr wieder reservieren. 

Im Kalender sollen die ausgewählten Tage sichtbar markiert werden und auch alle dazwischen liegenden

Dazu kommen noch Verwaltungs Seiten für admins, ein admin kann alle Reservierungen sehen und dann annehmen oder ablehnen, außerdem kann er selber Reservierungen anlegen und Benutzern zuweisen. Ein Administrator kann auch neue Benutzer anlegen und bestehende verwalten. 

Das komplette System soll modern und hochwertig sowie vertrauenswürdig aussehen mit schlichten Farben und keinen Bildern.

Das System soll sicher aufgebaut sein und so konzipiert, dass Sicherheitsrisiken minimiert werden mit Passwort-Hashing (z. B. bcrypt), SQL-Injection vermeiden (Prepared Statements), XSS/CSRF-Schutz, Session-Handling absichern und noch weiteren relevanten Dingen. 